/**
 * CUSTOM TABLE STYLES
 */
.custom_table {
	display: block;
	width: 100%;
	overflow-x: auto;
	border-radius: 10px;

	/* Custom scrollbar styling */
	&::-webkit-scrollbar {
		height: 8px;
		/* Horizontal scrollbar height */
	}

	&::-webkit-scrollbar-track {
		// @apply bg-sky-200 dark:bg-gray-700 rounded-full;
		@apply bg-sky-200 rounded-full;
		/* Track background */
	}

	&::-webkit-scrollbar-thumb {
		// @apply bg-sky-600 dark:bg-gray-600 rounded-full;
		@apply bg-sky-500 rounded-full;
		/* Scrollbar thumb */
	}

	&::-webkit-scrollbar-thumb:hover {
		// @apply bg-sky-700 dark:bg-gray-500;
		@apply bg-sky-600;
		/* Hover effect */
	}

	table {
		width: 100%;
		border-radius: 10px;
		tr {
			th {
				@apply bg-gray-200 dark:bg-gray-700 text-black dark:text-white;
				padding: 8px 12px;
				// border-top: 1px solid #dddddd65;

				&>div>i {
					@apply text-green-600 dark:text-green-400;
				}
			}
			th:first-child {
				border-left: 1px solid #dddddd65;
			}

			th:last-child {
				border-right: 1px solid #dddddd65;
			}

			td {
				@apply bg-white dark:bg-gray-800 text-black dark:text-white;
				padding: 8px 12px;
				border: 1px solid #dddddd65;

				// &>div>i {
				// 	@apply text-green-600 dark:text-green-400;
				// }
			}

			&:nth-child(even) {
				@apply bg-gray-100 dark:bg-gray-900;
			}
		}

	}
}

.custom_table tr:nth-child(even) td {
	@apply bg-gray-100 dark:bg-gray-800;
}
.custom_table tr:nth-child(odd) td {
	@apply bg-white dark:bg-gray-900;
}

// .custom_table tr:nth-child(even) td:first-child {
// 	@apply bg-gray-100 dark:bg-gray-800;
// }
// .custom_table tr:nth-child(odd) td:first-child {
// 	@apply bg-white dark:bg-gray-900;
// }